<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Comprar ingressos</h1>
    </header>
    <main>
        <section>
            <form action="../../controller/CapturarDados.php" method="post">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" placeholder="digite seu cpf">
                <input type="submit" value="enviar">
            </form>
        </section>
    </main>
</body>
</html>